{% extends 'templates/template.twig' %} 

{% block title %} Sistema - Change Password {% endblock %}

	{% block content %}

		{# aqui começa a brincadeira #}
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-3">
					<div class="card bg-light">
						<div class="card-header">
							Change password
						</div>
						<div class="card-body">
							<form action="{{ path_for('changepassword') }}" method="post" class="form-group was-valid" autocomplete="off"> 
								<div class="form-group">
									<label for="old_password"></label>
									<input type="password" name="old_password" id="old_password" placeholder="old password here" class="form-control {{ errors.old_password ? 'is-invalid alert-danger' : '' }}" value="{{ old.old_password }}">
									{% if errors.old_password %}
										<div class="invalid-feedback">
											{{ errors.old_password | first }}
										</div>
									{% endif %}
								</div>	

								<div class="form-group">
									<label for="password"></label>
									<input type="password" name="password" id="password" placeholder="new password" class="form-control {{ errors.password ? 'is-invalid alert-danger' : '' }}" value="{{ old.password }}">
									{% if errors.password %}
										<div class="invalid-feedback">
											{{ errors.password | first }}
										</div>
									{% endif %}
								</div>

								<div class="card-footer">
									{{ csrf.field | raw }}
									
									<input type="submit" class="btn btn-success" name="submit" value="Change password">	
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# aqui termina a brincadeira #}
	{% endblock %}

	{# bibliotecas javascript #}
	{% block cjs %}
		<script type="text/javascript" src="/assets/js/sys/jquery.mask.min.js"></script>
		<script src="/assets/js/sys/axios.min.js"></script>
		<script type="text/javascript" src="/assets/js/ajax.js"></script>
	{% endblock %}