{% extends 'templates/template.twig' %} 

{% block title %} Sistema - Sign up {% endblock %}

	{% block content %}

		{# aqui começa a brincadeira #}
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-3">
					<div class="card bg-light">
						<div class="card-header">
							Sign in
						</div>
						<div class="card-body">
							<form action="{{ path_for('auth.signin') }}" method="post" class="form-group was-valid" autocomplete="off"> 
								<div class="form-group has-warning">
									<label for="email"></label>
									<input type="email" name="email" id="email" placeholder="email@yourdomain" class="form-control {{ errors.email ? 'is-invalid alert-danger' : '' }}" value="{{ old.email }}">
									{% if errors.email %}
									<div class="invalid-feedback">
										{{ errors.email | first }}
									</div>
									{% endif %}
								</div>	

								<div class="form-group has-warning">
									<label for="password"></label>
									<input type="password" name="password" id="password" placeholder="your password" class="form-control {{ errors.password ? 'is-invalid alert-danger' : '' }}" value="{{ old.password }}">
									{% if errors.password %}
									<div class="invalid-feedback">
										{{ errors.password | first }}
									</div>
									{% endif %}
								</div>

								<div class="card-footer">
									{{ csrf.field | raw }}
									
									<input type="submit" class="btn btn-success" name="submit" value="Sign In">	
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# aqui termina a brincadeira #}
	{% endblock %}

	{# bibliotecas javascript #}
	{% block cjs %}
		<script type="text/javascript" src="/assets/js/sys/jquery.mask.min.js"></script>
		<script src="/assets/js/sys/axios.min.js"></script>
		<script type="text/javascript" src="/assets/js/ajax.js"></script>
	{% endblock %}